<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div id="Title">
        <h1>Spotify Playlist Downloader</h1>
    </div>
    <div id="functions">
        <form action="/run_script" method="post">
            <input type="text" id="playlist_name" name="playlist_name" placeholder="Paste Playlist Link Here">
            <select name="dropdown">
                <option value="mp3">MP3</option>
                <option value="wav">WAV</option>
            </select>
            <button type="submit">Download</button>
        </form>
    </div>
</body>

</html>